#include "zmk-helpers/key-labels/36.h"

#define X_LH_N 1
#define X_LH_0 &kp DELETE

#define X_RH_N 11
#define X_RH_0                                   \
                                  &kp ESCAPE    \
           &kp Y                  &kp U         \
    &kp I  &kp O  &kp P    &kp Y  &kp U  &kp I  \
           &kp O                  &kp P

#include "base.keymap"
